html {
  background-color: #222;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", san-sans-serif;
  color: white;
}

.cell-text {
  display: inline-block;
  position: absolute;
  color: white;
  font-size: 10px;
  font-family: "Roboto", san-sans-serif;
}
